# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Testing icc
Testing/*/*.icc
Testing/IccApplyNamedCmm
Testing/IccApplyProfiles
Testing/IccDumpProfile
Testing/IccFromXml
Testing/IccRoundTrip
Testing/IccSpecSepToTiff
Testing/IccTiffDump
Testing/IccToXml

# Xcode deps
Build/XCode/libtiff/*.h*
Build/XCode/libxml/*.h*
# Xcode build files
**/build
**/xcuserdata

# copied code
Tools/CmdLine/IccSpecSepToTiff/TiffImg.cpp
Tools/CmdLine/IccSpecSepToTiff/TiffImg.h
Tools/CmdLine/IccTiffDump/TiffImg.cpp
Tools/CmdLine/IccTiffDump/TiffImg.h

*.sdf
*.vcxproj.user
IccProfLib/Win32