# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Testing icc
Testing/*/*.icc
Testing/private/**

# Xcode deps
Build/XCode/libtiff/*.h*
Build/XCode/libxml/*.h*

# Xcode build files
**/*.noindex
**/Build
!/Build
**/xcuserdata
**/DerivedData
**/DataStore
**/.DS_Store

# Visual Studio
**/.vs
*.vcxproj.user
*.idb
*.pdb
*.exp
*.ilk
*.tlog
*.log
*.recipe
**/Release/**
**/Debug/**
**/x64/**
**/Win32/**
**/vc_msw*/**
Developer Defs.props


# copied code
Tools/CmdLine/IccSpecSepToTiff/TiffImg.cpp
Tools/CmdLine/IccSpecSepToTiff/TiffImg.h
Tools/CmdLine/IccTiffDump/TiffImg.cpp
Tools/CmdLine/IccTiffDump/TiffImg.h
