<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WorkspacePath</key>
	<string>/Development/ICC/ICCMax/RefIccMAX-2.0.18/Tools/MacOS-X/RefIccMAXCmm/RefIccMAXCmm.xcodeproj</string>
</dict>
</plist>
