<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Demo</string>
	<key>CFBundleGetInfoString</key>
	<string>4.5, Copyright 2006 Apple Computer, Inc.</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.RefIccMAXCmm</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>RefIccMAXCmm</string>
	<key>CFBundlePackageType</key>
	<string>CMM </string>
	<key>CFBundleShortVersionString</key>
	<string>4.5</string>
	<key>CFBundleSignature</key>
	<string>Demo</string>
	<key>CFBundleVersion</key>
	<string>4.5</string>
	<key>CSResourcesFileMapped</key>
	<true/>
</dict>
</plist>
